<a href="https://colab.research.google.com/github/KallamAlekhya6/Ai_Chatbot/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files

uploaded = files.upload()

Saving restaurants.sql to restaurants.sql
Saving users.json to users.json
Saving orders.csv to orders.csv

In [2]:
import pandas as pd

df = pd.read_csv('orders.csv')
df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian

In [3]:
users = pd.read_json('users.json')
users.head()

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [4]:
import sqlite3

# Create in-memory database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Read SQL file
with open('restaurants.sql', 'r') as f:
    sql_script = f.read()

cursor.executescript(sql_script)

restaurants = pd.read_sql('SELECT * FROM restaurants', conn)
restaurants.head()

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [6]:
# Merge orders + users
merged_df = df.merge(
    users,
    on='user_id',
    how='left'
)

# Merge with restaurants
final_df = merged_df.merge(
    restaurants,
    on='restaurant_id',
    how='left'
)

final_df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [7]:
final_df.to_csv('final_food_delivery_dataset.csv', index=False)

In [8]:

gold_revenue = (
    final_df[final_df['membership'] == 'Gold']
    .groupby('city')['total_amount']
    .sum()
    .sort_values(ascending=False)
)

gold_revenue

city
Chennai      1080909.79
Pune         1003012.32
Bangalore     994702.59
Hyderabad     896740.19
Name: total_amount, dtype: float64

In [9]:
import pandas as pd

df = pd.read_csv('final_food_delivery_dataset.csv')
df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [10]:
df.groupby('cuisine')['total_amount'].mean().sort_values(ascending=False)

cuisine
Mexican    808.021344
Italian    799.448578
Indian     798.466011
Chinese    798.389020
Name: total_amount, dtype: float64

In [11]:
user_total = df.groupby('user_id')['total_amount'].sum()
count_users = (user_total > 1000).sum()
count_users

np.int64(2544)

In [12]:
df['rating_range'] = pd.cut(
    df['rating'],
    bins=[3.0, 3.5, 4.0, 4.5, 5.0],
    labels=['3.03.5', '3.64.0', '4.14.5', '4.65.0']
)

In [13]:
df.groupby('rating_range')['total_amount'].sum().sort_values(ascending=False)

/tmp/ipython-input-3480674029.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('rating_range')['total_amount'].sum().sort_values(ascending=False)

rating_range
4.65.0    2197030.75
4.14.5    1960326.26
3.03.5    1881754.57
3.64.0    1717494.41
Name: total_amount, dtype: float64

In [14]:
(
    df[df['membership'] == 'Gold']
    .groupby('city')['total_amount']
    .mean()
    .sort_values(ascending=False)
)

city
Chennai      808.459080
Hyderabad    806.421034
Bangalore    793.223756
Pune         781.162243
Name: total_amount, dtype: float64

In [15]:
restaurant_count = df.groupby('cuisine')['restaurant_id'].nunique()
revenue = df.groupby('cuisine')['total_amount'].sum()

analysis = pd.concat([restaurant_count, revenue], axis=1)
analysis.columns = ['restaurant_count', 'total_revenue']
analysis.sort_values('restaurant_count')

         restaurant_count  total_revenue
cuisine
Chinese               120     1930504.65
Indian                126     1971412.58
Italian               126     2024203.80
Mexican               128     2085503.09

In [16]:
total_orders = len(df)
gold_orders = len(df[df['membership'] == 'Gold'])

percentage = round((gold_orders / total_orders) * 100)
percentage

50

In [18]:
restaurant_stats = df.groupby('restaurant_name_y').agg(
    avg_order_value=('total_amount', 'mean'),
    order_count=('order_id', 'count')
)

restaurant_stats[
    restaurant_stats['order_count'] < 20
].sort_values('avg_order_value', ascending=False)

                   avg_order_value  order_count
restaurant_name_y
Restaurant_294         1040.222308           13
Restaurant_262         1029.473333           18
Restaurant_77          1029.180833           12
Restaurant_193         1026.306667           15
Restaurant_7           1002.140625           16
...                            ...          ...
Restaurant_184          621.828947           19
Restaurant_498          596.815556           18
Restaurant_192          589.972857           14
Restaurant_329          578.578667           15
Restaurant_300          572.686471           17

[241 rows x 2 columns]

In [20]:
restaurant_stats = df.groupby('restaurant_name_x').agg(
    avg_order_value=('total_amount', 'mean'),
    order_count=('order_id', 'count')
)

restaurant_stats[
    restaurant_stats['order_count'] < 20
].sort_values('avg_order_value', ascending=False)

                                   avg_order_value  order_count
restaurant_name_x
Hotel Dhaba Multicuisine               1040.222308           13
Sri Mess Punjabi                       1029.180833           12
Ruchi Biryani Punjabi                  1002.140625           16
Sri Delights Pure Veg                   989.467222           18
Classic Kitchen Family Restaurant       973.167895           19
...                                            ...          ...
Annapurna Tiffins Punjabi               621.828947           19
Darbar Tiffins Non-Veg                  596.815556           18
Darbar Restaurant Punjabi               589.972857           14
Spice Tiffins Pure Veg                  578.578667           15
Ruchi Mess Punjabi                      572.686471           17

[170 rows x 2 columns]

In [21]:
import pandas as pd

df = pd.read_csv('orders.csv')
df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian

In [22]:
restaurant_stats = df.groupby('restaurant_name').agg(
    avg_order_value=('total_amount', 'mean'),
    order_count=('order_id', 'count')
)

restaurant_stats[
    restaurant_stats['order_count'] < 20
].sort_values('avg_order_value', ascending=False)

                                   avg_order_value  order_count
restaurant_name
Hotel Dhaba Multicuisine               1040.222308           13
Sri Mess Punjabi                       1029.180833           12
Ruchi Biryani Punjabi                  1002.140625           16
Sri Delights Pure Veg                   989.467222           18
Classic Kitchen Family Restaurant       973.167895           19
...                                            ...          ...
Annapurna Tiffins Punjabi               621.828947           19
Darbar Tiffins Non-Veg                  596.815556           18
Darbar Restaurant Punjabi               589.972857           14
Spice Tiffins Pure Veg                  578.578667           15
Ruchi Mess Punjabi                      572.686471           17

[170 rows x 2 columns]

In [26]:
users = pd.read_json('users.json')
users.head()

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [28]:
final_df.groupby(['membership', 'cuisine'])['total_amount'].sum().sort_values(ascending=False)

membership  cuisine
Regular     Mexican    1072943.30
            Italian    1018424.75
Gold        Mexican    1012559.79
            Italian    1005779.05
Regular     Indian      992100.27
Gold        Indian      979312.31
            Chinese     977713.74
Regular     Chinese     952790.91
Name: total_amount, dtype: float64

In [29]:
df['order_date'] = pd.to_datetime(df['order_date'])
df['quarter'] = df['order_date'].dt.to_period('Q')

df.groupby('quarter')['total_amount'].sum().sort_values(ascending=False)

/tmp/ipython-input-4136492082.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['order_date'] = pd.to_datetime(df['order_date'])

quarter
2023Q3    2037385.10
2023Q4    2018263.66
2023Q1    1993425.14
2023Q2    1945348.72
2024Q1      17201.50
Freq: Q-DEC, Name: total_amount, dtype: float64

In [30]:
import pandas as pd

df = pd.read_csv('final_food_delivery_dataset.csv')

In [31]:
gold_orders_count = len(df[df['membership'] == 'Gold'])
gold_orders_count

4987

In [32]:
hyderabad_revenue = df[df['city'] == 'Hyderabad']['total_amount'].sum()
round(hyderabad_revenue)

1889367

In [33]:
df['user_id'].nunique()

2883

In [34]:
gold_avg_order_value = df[df['membership'] == 'Gold']['total_amount'].mean()
round(gold_avg_order_value, 2)

np.float64(797.15)

In [35]:
high_rating_orders = len(df[df['rating'] >= 4.5])
high_rating_orders

3374

In [36]:
gold_city_revenue = (
    df[df['membership'] == 'Gold']
    .groupby('city')['total_amount']
    .sum()
    .sort_values(ascending=False)
)

top_city = gold_city_revenue.idxmax()
top_city

'Chennai'

In [37]:
orders_in_top_city = len(
    df[
        (df['membership'] == 'Gold') &
        (df['city'] == top_city)
    ]
)

orders_in_top_city

1337

In [38]:
import pandas as pd
import sqlite3

orders = pd.read_csv("orders.csv")
users = pd.read_json("users.json")

# Load SQL
conn = sqlite3.connect(":memory:")
with open("restaurants.sql", "r") as f:
    conn.executescript(f.read())

restaurants = pd.read_sql("SELECT * FROM restaurants", conn)

In [39]:
orders.columns, users.columns

(Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
        'restaurant_name'],
       dtype='object'),
 Index(['user_id', 'name', 'city', 'membership'], dtype='object'))

In [40]:
type(restaurants)

pandas.core.frame.DataFrame

In [41]:
final_df = orders.merge(users, on="user_id", how="left") \
                 .merge(restaurants, on="restaurant_id", how="left")

len(final_df), len(orders)

(10000, 10000)

In [42]:
final_df.isna().sum()

order_id             0
user_id              0
restaurant_id        0
order_date           0
total_amount         0
restaurant_name_x    0
name                 0
city                 0
membership           0
restaurant_name_y    0
cuisine              0
rating               0
dtype: int64

In [43]:
final_df[final_df['membership'].isna()].head()

Empty DataFrame
Columns: [order_id, user_id, restaurant_id, order_date, total_amount, restaurant_name_x, name, city, membership, restaurant_name_y, cuisine, rating]
Index: []

In [44]:
pd.DataFrame.merge

<function pandas.core.frame.DataFrame.merge(self, right: 'DataFrame | Series', how: 'MergeHow' = 'inner', on: 'IndexLabel | AnyArrayLike | None' = None, left_on: 'IndexLabel | AnyArrayLike | None' = None, right_on: 'IndexLabel | AnyArrayLike | None' = None, left_index: 'bool' = False, right_index: 'bool' = False, sort: 'bool' = False, suffixes: 'Suffixes' = ('_x', '_y'), copy: 'bool | None' = None, indicator: 'str | bool' = False, validate: 'MergeValidate | None' = None) -> 'DataFrame'>

In [45]:
"membership" in users.columns, "membership" in orders.columns

(True, False)

In [46]:
orders.columns, restaurants.columns

(Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
        'restaurant_name'],
       dtype='object'),
 Index(['restaurant_id', 'restaurant_name', 'cuisine', 'rating'], dtype='object'))

In [47]:
restaurants.columns

Index(['restaurant_id', 'restaurant_name', 'cuisine', 'rating'], dtype='object')

In [48]:
final_df['user_id'].value_counts().head()

user_id
2973    13
1515    12
874     11
496     11
1337    11
Name: count, dtype: int64